{% extends "base.html" %}

{% block content %}
<h2 class="text-center">Ward Member Login</h2>
<form class="col-md-6 offset-md-3 mt-3" method="POST">
    <div class="mb-3"><label>Email</label><input class="form-control" required type="email"/></div>
    <div class="mb-3"><label>Password</label><input class="form-control" required type="password"/></div>
    <button class="btn btn-primary w-100" type="submit">Login</button>
</form>

<!-- Dummy content to fill space -->
<div style="height: 400px;"></div>
{% endblock %}
